@use "variables" as v;
@use "mixins" as m;


.button--primary{
    @include m.boton(v.$azul, v.$blanco, none);
}

.button--secondary {
    @include m.boton(transparent, v.$azul, solid .2rem);

}

.button--ghost {
    background-color: transparent;
    color: v.$blanco;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    border-radius: .5rem;
    border: none;
    transition: ease .3s;

    &:hover {
        background-color: grey;
        cursor: pointer;
    }
}

