@use "base/variables" as v;
@use "base/mixins" as m;

.inicio {
  background-image: linear-gradient(
    to bottom,
    #599cff,
    #a8bfff,
    #ccd3fe,
    #e8e8fe,
    #ffffff
  );
}

.logo-interno {
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.359));
}
.header {
  display: flex;
  flex-direction: column;
  padding: 4rem 3rem 4rem 3rem;
}

.arriba {
  display: flex;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  a {
    color: v.$negro;
    text-decoration: none;
  }

  .header__logo {
    display: flex;
    align-items: center;
    height: 200%;
    gap: 1rem;

    .header__logo-image {
      height: 100%;
    }
  }

  .header__abrir,
  .header__nav-cerrar {
    display: none;
  }

  .header__nav {
    width: 40%;
    .header__nav-list {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      .header__nav-link {
        font-weight: 500;
      }

      .boton-contraste {
        height: 2rem;
        width: fit-content;
        cursor: pointer;
      }
    }
    .langResponsivo {
      display: none;
    }
  }

  .header__registro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .language-selector {
      position: relative;
      display: inline-block;
      cursor: pointer;
      padding: 0.7rem;
      background: #007bff;
      color: white;
      border-radius: 5px;
    }

    .dropdown {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: white;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      button {
        display: block;
        padding: 8px;
        text-decoration: none;
        color: black;
        border: none;
        border-radius: 5px;
        background: transparent;

        &:hover {
          background: #f0f0f0;
        }
      }
    }

    .language-selector:hover .dropdown {
      display: block;
    }

    &-log {
      transition: ease 0.5s;

      &:hover {
        transform: scale(1.07);
      }
    }
  }

  @include m.tablet {
    .dropdown {
      button {
        background: transparent;
        border: none;
        font-size: 5rem;
      }
    }

    .header__abrir,
    .header__nav-cerrar {
      display: block;
      width: 3rem;
    }

    .header__registro {
      display: none;
    }
    .header__nav {
      opacity: 0;
      visibility: hidden;

      display: flex;
      flex-direction: column;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin-right: 0;
      padding: 3rem;
      background: v.$azul;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

      &-cerrar {
        width: 3rem;
        display: flex;
        align-self: self-end;
      }

      .langResponsivo {
        display: block;
        align-self: center;
      }
    }

    .visible {
      opacity: 1;
      visibility: visible;
    }

    .header__nav-list {
      flex-direction: column;
      align-items: start;
      justify-content: space-evenly;

      .header__nav-link {
        margin-top: 4rem;
        color: v.$blanco;
      }
    }
  }

  @include m.telefono {
    .header__nav {
      width: 100%;
      .header__nav-list {
        align-items: center;
        margin-top: 7rem;
      }
    }
  }
}

.internas {
  background: v.$azul;

  section,
  p,
  a,
  span {
    color: v.$blanco;
  }
}

.abajo {
  text-align: center;
  margin: 15rem auto;
  width: 70rem;

  @include m.telefono {
    width: 95%;
    h1 {
      font-size: 4rem;
    }
  }
}
