@use "base/variables" as v;
@use "base/mixins" as m;

.progress-bar-danger {
  background: var(--danger);
}

.progress-bar-warning {
  background: var(--warning);
}

.progress-bar-success {
  background: var(--success);
}

.box h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
}

.input-wrapper {
  position: relative;
  padding: 1rem 0 0;
}

.input-field {
  background: white;
  font-size: 1rem;
  border-radius: 0.5rem;
  color: var(--text);
  padding: 0.5rem;
  padding-right: 2rem;
  width: 100%;
  outline: 1px solid transparent;
  transition: border-color 0.2s;
  border: none;
}

.input-field::placeholder {
  color: transparent;
}

.input-field:placeholder-shown ~ .input-label {
  font-size: 1rem;
  cursor: text;
  color: var(--text);
  top: 1.5rem;
}

.input-field:focus ~ .input-label {
  position: absolute;
  top: 0.375rem;
  padding: 0 0.25rem;
  background: var(--box-bg);
  display: block;
  font-size: 0.875rem;
  left: 0.5rem;
  color: var(--text);
  transition: 0.3s;
}

.input-field:focus ~ .input-label {
  color: var(--primary);
}

.input-field:focus {
  border: 1px solid var(--primary);
  outline: 1px solid var(--primary);
}

.input-icon {
  position: absolute;
  right: -0.625rem;
  bottom: -0.625rem;
  width: 1.75rem;
  height: 1.75rem;
  transform: translate(-50%, -50%);
  transform-origin: center;
  cursor: pointer;
}

.password-strength {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-top: 0.25rem;
}

.password-strength-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.75rem;
}

.password-strength-items li {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  width: 100%;
   img {
    width: 3rem;
   }
}

.password-strength-items li span {
  width: 1.15rem;
  height: 1.15rem;
}

.progress {
  height: 3px !important;
  width: 100%;
  background: #f1f1f1;
  border-radius: 0.25rem;
}

.progress-bar {
  height: 3px !important;
  border-radius: 0.25rem;
}

.progress-bar-danger {
  background: #ef4d61;
}

.progress-bar-warning {
  background: #ffc12e;
}

.progress-bar-success {
  background: #35d39d;
}
